language: cpp

before_script:
 - wget http://downloads.sourceforge.net/project/unitpp/unit%2B%2B-3.0.0.tgz
 - tar xvf *.tgz
 - cd unit*
 - ./configure
 - sudo make install

script:
 - make
 - g++ -o test _tests/mathutil_tests.cpp mathutil.cpp -lunit++ -Wall # I'm just trying out this terrible idea; Is Travis is fucking with the makefile??
 - ./test